body {
  @extend .sans-regular;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding: 0;
  text-align: center;
  background: $color-base2;
  background: linear-gradient(135deg, $color-base1 0%, $color-base2 100%);
  color: $accent-light;
}

.App_content {
  padding: 0 15px;
  @include md {
    padding: 0 40px;
  }
  max-width: 1280px;
  margin: 0 auto;
  &_header {
    @include searchTransition();
    display: flex;
    flex-wrap: wrap;

    min-height: 100vh;
    &.reduced {
      min-height: 0;
    }
  }
  &_copy {
    align-self: center;
    width: 100%;
  }

  &_title {
    width: 100%;
    max-width: 650px;
    margin: 0 auto;
    padding: 50px 0 20px 0;
    @include md {
      padding: 50px 0;
    }
  }

  &_illustrations {
    @include searchTransition();
    padding: 40px 0 0 0;
    width: 100%;
    pointer-events: none; // when we animate it up, we dont' want to block buttons

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: flex-end;
    svg {
      @include searchTransition();
      width: 40%;
      height: auto;
      align-self: flex-end;
    }
    &.reduced {
      margin-top: -20px;
      svg {
        width: 20%;
      }
    }
    @include md {
      &.reduced {
        margin-top: -100px;
      }
    }
  }

  &_results {
    //transition settings
    @include searchTransition();
    display: block;
    width: 100%;
    opacity: 0;
    max-height: 0;
    &.visible {
      opacity: 1;
      max-height: 100%;
    }
  }
}

.footer {
  color: $color-contrast;
  padding: 15px 0;
  background-color: $color-base2;
  font-size: 14px;
  a {
    color: $color-contrast;
  }
}
