html,
#root {
  height: 100%; //enable .App div to fill height
}
body {
  @extend .sans-regular;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding: 0;
  height: 100%;
  text-align: center;
  background: $color-base2;
  background: linear-gradient(135deg, $color-base1 0%, $color-base2 100%);
  color: $accent-light;
}

.App {
  padding: 0 15px;
  @include md {
    padding: 0 40px;
  }
}

.App_header {
  height: 100vh;
  display: flex;
  flex-direction: row;
  flex-basis: 100%;
  justify-content: center;
  flex-wrap: wrap;
  &_copy {
    align-self: center;
    width: 100%;
  }

  &_title {
    width: 100%;
    max-width: 650px;
    margin: 0 auto;
    padding: 50px 0;
    flex-basis: 50%;
  }

  &_illustrations {
    padding-top: 40px;
    align-self: flex-end;
  }
}
