.searchResults {
  max-width: 960px;
  list-style-type: none;
  padding: 0;
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  position: relative;
  background-color: white;
  padding: 20px;
  li {
    flex-basis: 20%;
    img {
      width: 150px;
      height: 150px;
      max-width: 100%;
      object-fit: cover;
    }
  }
}
