.searchResults {
  width: 100%;
  list-style-type: none;
  margin: 0 auto 0 auto;
  padding: 0;
  position: relative;
  background-color: white;
  @include md {
    //columns on medium screens and up
    display: flex;
    flex-flow: row wrap;
  }

  li {
    border: 10px solid $accent-light;
    background-color: $accent-mid;
    flex-basis: calc(20% - 20px);
    cursor: pointer;
    min-width: 200px;
    min-height: 200px;

    img {
      width: 100%;
      height: auto;

      display: block;
      max-width: 100%;
      object-fit: cover;
      @include md {
        height: 200px; //fixed_height_downsampled size is 200px high
      }
    }
  }
}

.pagination {
  margin: 20px 0;
}
