/* colours */
$color-base1: #5f5f93;
$color-base2: #31315a;
$color-contrast: #f7743f;
$color-accent1: #7a70ff;
$color-accent2: #5b50fe;
$color-contrast1: #b8e986;
$color-contrast2: #7ed321;
$accent-light: white;
$accent-dark: black;

/*breakpoints*/
// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;
