/* colours */
$color-base1: #5f5f93;
$color-base2: #31315a;
$color-contrast: #f7743f;
$color-accent1: #7a70ff;
$color-accent2: #5b50fe;
$color-contrast1: #b8e986;
$color-contrast2: #7ed321;
$accent-light: white;
$accent-dark: black;

/*breakpoints*/
$break-mobile-up: min-width 480px;
$break-tablet-up: min-width 768px;
$break-sm-desktop-up: min-width 1025px;
$break-desktop-up: min-width 1280px;
